.show-container {
  display: flex;
  flex-direction: column;
  @include size-100;
  background-color: var(--charcoal);
  align-items: center;
  text-align: center;

  .image-wrapper {
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 80%;
    height: 90%;

    img {
      display: flex;
      @include size-100;
      
      &:hover {
        opacity: .5;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    color: var(--light-grey);
  }
}