.review-input-wrapper {
  @include size-100;
  margin-top: 4%;
  background-color: var(--grey);

  .add-review-buttton {
    display: flex;
    width: 100%;
    justify-content: center;

    button {
      border: none;
      padding: 1% 2.5%;
      border-radius: 10px;
      @include transition;

      &:hover {
        background-color: var(--light-grey);
        color: var(--grey)
      }
    }
  }
  .review-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin-top: 10%;
    @include size-100;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  gap: 15px;
  @include size-100;
  
  button {
    border: none;
    border-radius: 10px;
    
    &:hover {
      background-color: var(--light-grey);
      color: var(--grey);
    }
  }
  
  .review-inputs {
    display: flex;
    @include size-100;
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      @include size-100;
      input {
        border-radius: 10px;
        border: none;
      }
      .input-names {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
      .description-submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        @include size-100;
        
        .description {
          font-family: 'Roboto', sans-serif;
          height: 40%;
          width: 80%;
          border-radius: 10px;
          outline: none;
          resize: none;
        }
      }
    }
    
  }
}
