.review-input-wrapper {
  @include size-100;
  margin-top: 4%;
  .add-review-buttton {
    display: flex;
    width: 100%;
    justify-content: center;

    button {
      border: none;
      padding: 1% 2.5%;
      border-radius: 10px;
      @include transition;

      &:hover {
        background-color: var(--light-grey);

      }
    }
  }
  .review-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include size-100;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  gap: 15px;
  @include size-100;
  
  button {
    height: 10%;
    width: 20%;
  }
  
  .review-inputs {
    display: flex;
    @include size-100;
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include size-100;
    }
    
    .description-submit {
      display: flex;
      flex-direction: column;
      align-items: center;

      .description {
        font-family: 'Roboto', sans-serif;
        height: 100px;
        width: 400px;
        outline: none;
        resize: none;
      }
    }
  }
}
