.contact-title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-page-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  @include size-100;

  .send-message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    color: var(--grey);
    @include size-100;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      @include size-100;
      
      .name-wrapper {
        display: flex;
        width: 80%;
        justify-content: center;

        input {
          border-radius: 10px;
          margin: 0 .2%;
          border: none;
          width: 31%;
          padding: 5px;
          @include transition;

          &:hover {
            background-color: var(--light-grey);
          }
        }
      }

      .message-btn-wrapper {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 78%;
        gap: 4%;
        
        textarea {
          font-family: 'Roboto', sans-serif;
          border-radius: 10px;
          border: none;
          @include size-100;
          resize: none;
          @include transition;

          &:hover {
            background-color: var(--light-grey);
          }

          &:focus {
            outline: none;
          }
        }

        button {
          
          background-color: white;
          color: grey;
          border: none;
          border-radius: 10px;
          @include transition;

          &:hover {
            background-color: var(--light-grey);
          }
        }
      }
    }
  }
  
  .contact-us-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .contact-page-container {
    display: flex;
    flex-direction: column;

    .contact-us-wrapper {
      font-size: 30px;
      margin-bottom: 5%;
    }
  }

}