.shows-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  margin: auto;
  width: 95%;
  background-color: var(--grey);
  gap: 30px;
}