.show-container {
  display: flex;
  
  .show-information {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .left-column-container {
      margin-left: 10%;
    }

    .right-column-container {
      display: flex;
      width: 70%;
      flex-direction: column;
      justify-content: center;
      margin-left: 10%;
    }
  }
}