body, html {
  margin: 0;
  overflow-x: hidden;
  overflow: overlay;
  font-family: 'Roboto', sans-serif;
  background-color: var(--grey);
  @include size-100;
}

#root {
  @include size-100;
}

input {
  &:focus {
    outline: none;
  }
}
