.navigation {
  display: flex;
  position: sticky;
  height: 35px;
  width: 100%;
  background-color: var(--charcoal);
  justify-content: space-around;
  align-items: center;
  color: var(--light-grey);
  box-shadow: 0px 0px 26px 16px rgba(0,0,0,0.1);

  .active {
    color: var(--soft-yellow);
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
  color: var(--light-grey);
  cursor: pointer;
  @include transition;

  &:hover {
    color:aqua;
    text-shadow: #FC0 1px 0 10px;
  }
}